{% extends "bootstrap/base.html" %}


{% block title %}VirtualShop{% endblock %}
{% block content %}

	<body>

	<style type="text/css">
  		body { background: #ACDEF3; }
	</style>

	<div id="pagewrap" style="width: 998px;;padding:0px 30px;margin:100px auto;background-color: 	#FFFFFF">

		{%for message in get_flashed_messages() %}
			<p>{{ message }}</p>
		{% endfor %}

		<br>
		<h1>Products in store</h1>
		<br><br>

		<body bgcolor="#0099FF">

		<table class="table table-striped table-bordered table-condensed table-hover" border="1">
			<thead>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Description</th>
		
			</thead>

			{%for product in product_list %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.description }}</td>
					<td><a href="/edit/{{ product.id }}" class="btn btn-info" role="button">edit</a></td>
				</tr>
			
			{% endfor %}

		</table>

		<br><br>
		<h4>Add a new product:<br><small>Please enter data</small></h4>
		<br>

		<form class="form form-horizontal" role="form" action="/save", method="post">
			<input name = "name" placeholder="Enter name">
			<input name = "price" placeholder="Enter price">
			<input name = "description" placeholder="Enter a short description">
			<button  class="btn btn-info" type = "submit">save</button>
		</form>
		<br><br>

		</body>

	</div>

{% endblock %}



